@model IEnumerable<UDS.Models.Flow>

<script type="text/javascript">
    function check() {
        var formname = $("input#formname").val();
        if (formname == null || formname == "") {
            alert("流程名称不能为空");
            return false;
        }
        var flowflow = $("input#flowflow").val();
        if (flowflow == null || flowflow == "") {
            alert("流程详细不能为空");
            return false;
        }
        return true;
    }
    function dreset() {
        $("input#Id").val("0");
        $("input#formname").val("");
        $("select#templateid").val("1");
        $("input#flowflow").val("");
        $("input#submit").val("增加");
        return false;
    }
    function getinfo(id) {
        ajaxPost("../Administrator/FlowGetInfo", "id=" + id, function onsuccess(text) {
            var data = $.parseJSON(text);
            $("input#Id").val(data.id);
            $("input#formname").val(data.formname);
            $("select#templateid").val(data.templateid);
            $("input#flowflow").val(data.flowflow);
            $("input#submit").val("保存");
        }, function onfail (text) {
        })
    }
</script>

@using (Ajax.BeginForm("FlowProc", new AjaxOptions() { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "replace" }))
{
    <ul style="list-style:none; min-width:880px; width:100%;">
        <li style="float:left;">
            <input type="text" hidden="hidden" style="visibility:hidden" value="0" name="Id" id="Id" />
        </li>
        <li style="float:left;width:30%;text-align:right;">
            流程名称：<input type="text" name="formname" id="formname" />
        </li>
        <li style="float:left; width:20%;text-align:center;">
            模板：
            <select id="templateid" name="templateid">
                @{
    var poslist = ViewData["typelist"] as List<SelectListItem>;
    foreach (var item in poslist)
    {
        <option value="@item.Value">@item.Text</option>
    }
                }
            </select>
        </li>
        <li style="float:left; width:30%;text-align:center;">
            流程详细：<input type="text" name="flowflow" id="flowflow" />
        </li>
        <li style="float:left;width:20%;text-align:left;">
            <input type="submit" name="submit" id="submit" value="增加" style="width:60px;height:25px;" onclick="return check()" />
            <input type="submit" value="取消" style="width:60px;height:25px;" onclick="return dreset()" />
        </li>
    </ul>
}
<hr style="clear:both;" />
<br />
<div>
    <ul style="width:100%; min-width:670px;">
        <li style="width:20%; float:left; text-align:right"><label style="width:15%; visibility:hidden;">编辑</label></li>
        <li style="width:15%; float:left; text-align:center">流程名称</li>
        <li style="width:15%; float:left; text-align:center">模板</li>
        <li style="width:40%; float:left; text-align:center">流程详细</li>
    </ul>
    @foreach (var item in Model)
    {
        <ul style="clear:both;width:100%;min-width:670px;">
            <li style="width:20%; float:left; text-align:right">
                <a href="javascript:;" onclick="getinfo(@item.Id)"><img src="~/Content/png/edit_48.png" style="width:18px; height:18px;" /></a>
            </li>
            <li style="width:15%; float:left; text-align:center">
                @Html.DisplayFor(modelItem => item.FormName)
            </li>
            <li style="width:15%; float:left; text-align:center">
                @Html.DisplayFor(modelItem => item.TemplateName)
            </li>
            <li style="width:40%; float:left; text-align:center">
                @Html.DisplayFor(modelItem => item.FlowFlow)
            </li>
        </ul>
    }
</div>

