@model IEnumerable<UDS.Models.SysUser>

<script type="text/javascript">
    function check() {
        var loginname = $("input#loginname").val();
        if (loginname == null || loginname == "") {
            alert("登录名称不能为空");
            return false;
        }
        return true;
    }
    function resetpass(id, name) {
        ajaxPost("/Administrator/UserReset", "id=" + id + "name=" + name, function onsuccess(text) {
            document.write(text);
            alert(text);
        }, function onfail(text) {
        })
    }
</script>

@using (Ajax.BeginForm("SysUserAdd", new AjaxOptions() { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "replace" }))
{
    <ul style="list-style:none; min-width:680px; width:100%;">
        <li style="float:left;width:40%;text-align:right;">
            登录名：<input type="text" name="loginname" id="loginname" />
        </li>
        <li style="float:left;width:30%;text-align:left;">
            <input type="submit" name="submit" id="submit" value="添加管理员" style="width:120px;height:25px;" onclick="return check()" />
            <input type="reset" value="取消" style="width:60px;height:25px;" />
        </li>
    </ul>
}
<hr style="clear:both;" />
<br />
<div>
    <ul style="width:100%; min-width:670px;">
        <li style="width:20%; float:left; text-align:right"><label style="width:15%; visibility:hidden;">重置密码</label></li>
        <li style="width:10%; float:left; text-align:center"><label style="width:15%; visibility:hidden;">编辑</label></li>
        <li style="width:15%; float:left; text-align:center">登录名</li>
        <li style="width:15%; float:left; text-align:center">名称</li>
        <li style="width:30%; float:left; text-align:center">账号等级</li>
    </ul>
    @foreach (var item in Model)
    {
        <ul style="clear:both;width:100%;min-width:670px;">
            <li style="width:20%; float:left; text-align:right">
                <a href="javascript:;" onclick="resetpass(@item.Id, @item.LoginName)">重置密码</a>
            </li>
            <li style="width:10%; float:left; text-align:center">
                @if (item.UserLevel == 0 && item.IsDelete)
                {
                    @Ajax.ActionLink("启用", "UserDelMng", new { id = @item.Id }, new AjaxOptions() { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "replace" }) ;
                }
                else if (item.UserLevel == 0 && !item.IsDelete)
                {
                    @Ajax.ActionLink("停用", "UserDelMng", new { id = @item.Id }, new AjaxOptions() { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "replace" }) ;
                }
                else
                {
                    <label style="width:15%; visibility:hidden;">员工管理</label>
                }
            </li>
            <li style="width:15%; float:left; text-align:center">
                @Html.DisplayFor(modelItem => item.LoginName)
            </li>
            <li style="width:15%; float:left; text-align:center">
                @Html.DisplayFor(modelItem => item.EName)
            </li>
            <li style="width:30%; float:left; text-align:center">
                @Html.DisplayFor(modelItem => item.UserLevel)
            </li>
        </ul>
    }
</div>
