@model IEnumerable<UDS.Models.FormFlow>

<script type="text/javascript">
    function check() {

        return true;
    }
</script>

@using (Ajax.BeginForm("FormQuery", new { pageindex = 1 }, new AjaxOptions() { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "replace" }))
{
    <ul style="list-style:none; min-width:900px; width:100%;">
        <li style="float:left;">
            <input type="text" hidden="hidden" style="visibility:hidden" value="0" name="Id" id="Id" />
        </li>
        <li style="float:left;width:25%;text-align:right;">
            流程名称：
            <select id="formid" name="formid">
                @{
    var flist = ViewData["ftypelist"] as List<SelectListItem>;
    foreach (var item in flist)
    {
        <option value="@item.Value">@item.Text</option>
    }
                }
            </select>
        </li>
        <li style="float:left; width:15%;text-align:center;">
            申请人：
            <select id="eid" name="eid">
                @{
    var elist = ViewData["etypelist"] as List<SelectListItem>;
    foreach (var item in elist)
    {
        <option value="@item.Value">@item.Text</option>
    }
                }
            </select>
        </li>
        <li style="float:left; width:26%;text-align:center;">
            开始时间：<input id="begintime" name="begintime" type="text" onclick="laydate({ istime: true, format: 'YYYY-MM-DD hh:mm' })" placeholder="YYYY-MM-DD hh:mm" class="laydate-icon-molv" value="@ViewBag.beginTime" style="width:150px;" />
        </li>
        <li style="float:left; width:26%;text-align:center;">
            结束时间：<input id="endtime" name="endtime" type="text" onclick="laydate({ istime: true, format: 'YYYY-MM-DD hh:mm' })" placeholder="YYYY-MM-DD hh:mm" class="laydate-icon-molv" value="@ViewBag.endTime" style="width:150px;" />
        </li>
        <li style="float:left;width:6%;text-align:left;">
            <input type="submit" name="submit" id="submit" value="搜索" style="width:60px;height:25px;" onclick="return check()" />
        </li>
    </ul>
}
<hr style="clear:both;" />
<br />
<div style="height:500px">
    <ul style="list-style:none; min-width:700px;">
        <li style="width:30%;float:left;text-align:center">流程名称</li>
        <li style="width:10%;float:left;text-align:center">申请人</li>
        <li style="width:20%;float:left;text-align:center">申请时间</li>
        <li style="width:10%;float:left;text-align:center">当前状态</li>
        <li style="width:30%;float:left;text-align:left"></li>
    </ul>
    <div style="clear:both;">
        @foreach (var item in Model)
        {
            <ul style="min-width:700px;">
                <li style="width:30%;float:left;text-align:center">
                    @Html.DisplayFor(modelItem => item.FormName)
                </li>
                <li style="width:10%;float:left;text-align:center">
                    @Html.DisplayFor(modelItem => item.EName)
                </li>
                <li style="width:20%;float:left;text-align:center">
                    @Html.DisplayFor(modelItem => item.WriteTime)
                </li>
                <li style="width:10%;float:left;text-align:center">
                    @Html.DisplayFor(modelItem => item.StateDesc)
                </li>
                <li style="width:30%;float:left;text-align:left">
                    @Ajax.ActionLink("进入", "DetailContainer", "Detail", new { id = item.Id, show = 0, canSign = 0, backid = 5, paras = ViewData["paras"] }, new AjaxOptions() { UpdateTargetId = "replace", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" })
                </li>
            </ul>
        }
    </div>
</div>
<br />
<div style="width:100%; text-align:center; min-width:400px;">
    @Ajax.ActionLink("首页", "FormQuery", "Administrator", new { pageindex = @ViewBag.frtIndex, eid = @ViewBag.eid, formid = @ViewBag.formid, begintime = ViewBag.beginTime, endtime = ViewBag.endTime }, new AjaxOptions() { UpdateTargetId = "replace", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" })
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    @Ajax.ActionLink("上一页", "FormQuery", "Administrator", new { pageindex = @ViewBag.preIndex, eid = @ViewBag.eid, formid = @ViewBag.formid, begintime = ViewBag.beginTime, endtime = ViewBag.endTime }, new AjaxOptions() { UpdateTargetId = "replace", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" })
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    第 @ViewBag.pageIndex / @ViewBag.pageCount 页
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    @Ajax.ActionLink("下一页", "FormQuery", "Administrator", new { pageindex = @ViewBag.nxtIndex, eid = @ViewBag.eid, formid = @ViewBag.formid, begintime = ViewBag.beginTime, endtime = ViewBag.endTime }, new AjaxOptions() { UpdateTargetId = "replace", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" })
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    @Ajax.ActionLink("尾页", "FormQuery", "Administrator", new { pageindex = @ViewBag.pageCount, eid = @ViewBag.eid, formid = @ViewBag.formid, begintime = ViewBag.beginTime, endtime = ViewBag.endTime }, new AjaxOptions() { UpdateTargetId = "replace", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" })
</div>

